<div class="sidenav-backdrop" ng-class="{'nav-open': !vm.sidenav.closed}" ng-click="vm.toggle()"></div>
<div class="sidenav-content" ng-class="{'nav-closed': vm.sidenav.closed, 'nav-open': !vm.sidenav.closed}">
  NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br>
</div>