<nav class="app-nav" ng-class="{'nav-closed': vm.sidenav.closed, 'nav-open': !vm.sidenav.closed}">
  NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br> NAV
  <br>
</nav>