/*------------------------------------*\
    $SIDENAV
\*------------------------------------*/

.app-sidenav {
  // Positioning
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  
  // Box-model
  display: flex;
  
  // Responsive
  @include respond-to(small) {
    position: static;
  }
}

.sidenav-backdrop {
  // Box-model
  display: none;
}

.sidenav-backdrop.nav-open {
  // Positioning
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  
  // Box-model
  display: block;
  width: 100vw;
  
  // Visual
  background-color: $backdrop;
  
  // Responsive
  @include respond-to(small) {
    // Box-model
    display: none;
  }
}

.sidenav-content,
.sidenav-content.nav-closed {
  // Positioning
  z-index: 2;
  
  // Box-model
  overflow-y: auto;
  width: 0;
  
  // Visual
  background-color: $white;
  
  // Misc
  transition: width .3s;
}

.sidenav-content.nav-open {
  // Box-model
  width: $sidenavwidth-md;
}

@include respond-to(small) {
  .sidenav-content,
  .sidenav-content.nav-closed {
    width: $sidenavwidth-sm;
  }
  
  .sidenav-content.nav-open {
    width: $sidenavwidth-md;
  }
}
  
@include respond-to(medium) {
  .sidenav-content,
  .sidenav-content.nav-open {
    width: $sidenavwidth-md;
  }
  
  .sidenav-content.nav-closed {
    width: $sidenavwidth-sm;
  }
}