/*------------------------------------*\
    $SIDENAV
\*------------------------------------*/

.app-sidenav {
  // Positioning
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  
  // Box-model
  display: flex;
  padding-top: 0;
  
  // Responsive
  @include respond-to(small) {
    // Positioning
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    
    // Box-model
    height: 100%;
    padding-top: $header-sm;
  }
}

@include respond-to(small) {
  .app-sidenav.header__nav-open {
    padding-top: $header-sm + $headernav-height;
  }
}

.sidenav-backdrop {
  // Box-model
  display: none;
}

.sidenav-backdrop.nav-open {
  // Positioning
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  
  // Box-model
  display: block;
  width: 100vw;
  
  // Visual
  background-color: $backdrop;
  
  // Responsive
  @include respond-to(small) {
    // Box-model
    display: none;
  }
}

.sidenav-content,
.sidenav-content.nav-closed {
  // Positioning
  z-index: 2;
  
  // Box-model
  overflow-y: auto;
  overflow-x: hidden;
  width: 0;
  
  // Visual
  background-color: $white;
  
  // Misc
  transition: width $close-delay;
}

.sidenav-content.nav-open {
  // Box-model
  width: $sidenavwidth-md;
}

@include respond-to(small) {
  .sidenav-content,
  .sidenav-content.nav-closed {
    width: $sidenavwidth-sm;
  }
  
  .sidenav-content.nav-open {
    width: $sidenavwidth-md;
  }
}
  
@include respond-to(medium) {
  .sidenav-content,
  .sidenav-content.nav-open {
    width: $sidenavwidth-md;
  }
  
  .sidenav-content.nav-closed {
    width: $sidenavwidth-sm;
  }
}