/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.app-header {
  // Positioning
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  
  // Visual
  background-color: cp($primary, df);
}

  .header__wrapper {
    // Box-model
    display: flex;
    align-items: center;
    height: $header-xs;
    
    // Responsive
    @include respond-to(small) {
      height: $header-sm;
    }
    
    // menu button
    .menu-btn md-icon {
      color: white;
    }
    
    // space
    .space {
      flex: 1;
    }
    
    // Brand
    .header__logo {
      // Box-model
      margin-left: $headermargin-xs;
      padding: $logopadding;
      line-height: $header-xs;
      
      // Typography
      color: $white;
      font-size: fs(big);
      
      // Responsive
      @include respond-to(small) {
        margin-left: $headermargin-sm;
        line-height: $header-sm;
      }
    }
    
    // Language list
    lang-list md-icon {
      color: white;
    }
  }
  
  .header__nav {
    // Box-model
    min-width: 100%;
    height: 0;
  }
  
  .header__nav.header__nav-open {
    height: $headernav-height;
  }
  