/*------------------------------------*\
    $HEADERIMAGE
\*------------------------------------*/
.headerimage {
  // Box-model
  width: 100%;
  height: 320px;
  
  // Visual
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  
  // Responsive
  @include respond-to(xsmall) {
    height: 400px;
  }
  
  @include respond-to(small) {
    height: 640px;
  }
  
  // Caption backdrop
  .caption-backdrop {
    // Positioning
    position: relative;
    
    // Box-model
    width: 100%;
    height: 100%;
    
    // Visual
    background-color: rgba(64, 64, 64, 0.5);
  }
  
  // Caption
  .caption {
    // Positioning
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    // Box-model
    margin: auto;
    width: 90%;
    height: 65%;
    
    // Typography
    text-align: center;
    color: #FFF;
  }
  
  .caption--title {
    // Responsive
    @include respond-to(small) {
      font-size: fs(extreme);
    }
    
    @include respond-to(medium) {
      font-size: fs(x-extreme);
    }
  }
  
  .caption--text {
    // Responsive
    @include respond-to(small) {
      font-size: fs(big);
    }
    
    @include respond-to(medium) {
      font-size: fs(extreme);
    }
  }
  
  .caption--btn {
    // Responsive
    @include respond-to(small) {
      font-size: fs(medium);
    }
    
    @include respond-to(medium) {
      font-size: fs(big);
    }
  }
}