/*------------------------------------*\
    $SITE
\*------------------------------------*/

@-webkit-viewport {
	width: device-width;
}

@-moz-viewport {
	width: device-width;
}

@-ms-viewport {
	width: device-width;
}

@-o-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}

html {
  // Box-model
  min-height: 100%;
	height: 100%;
  
  // Typography
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
  
  // visual
  background: $background;
  
  // Misc
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
  
  // Responsive
	@include respond-to(small) {
		font-size: 100%;
	}
}

body {
  // Box-model
  margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	height: 100%;
  
  // Typography
	font-family: $basefont;
	line-height: $baselineheight;
	color: $textcolor;
  
  // visual
	background-color: transparent;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

/**
 * From here, write positioning styles and details for web site. Enjoy!
 */