@if $include-menu == true {
/*------------------------------------*\
    $MENU
\*------------------------------------*/

.menu-content {
  // Box-model
  margin: $gutterwidth 0 0;
  padding: 0;
  
  // Visual
  list-style: none;
  
  // Menu item
  .menu-item {
    // Box-model
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin: 0;
    padding-left: ($sidenavwidth-sm - 1.5rem) / 2;
    width: 100%;
    min-height: 48px;
    height: 48px;
    
    // Typography
    text-align: left;
    
    // Visual
    cursor: pointer;
    
    // Menu icon
    .menu-icon {
      // Box-model
      flex: 0 0 auto;
      margin-right: ($sidenavwidth-sm - 1.5rem) / 2;
    }
    
    // Menu text
    .menu-text {
      flex: 1 1 auto;
    }
  }
}

} // endif