/*
    Created on : Jul 31, 2015, 19:17:00
    Author     : nimedev

    TOC:
    Random Styles

    COLOR PALETTE:
    #C91A00 Seggested by adobe color
    #E9242A Logo color
    #FFFFFF
    #7F7F7F
    #404040
    #000000
*/


/*  -------------------------------------------------------------
  RANDOM STYLES
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


/* Prevent scroll on narrow devices */

html, body {
  overflow-x: hidden;
  height: 100%;
  /*use to fix footer to bottom*/
}
html.catalog-page, html.catalog-page body {
  height: 100%;
}

/*body {
  font-family: 'Lato', 'Open Sans', sans-serif;
  padding-top: 60px;
  color: black;
}*/


/* use to fix footer to bottom */

#main-wrapper {
  position: relative;
  min-height: 100%;
}
#main-wrapper .view-content {
  padding-bottom: 225px;
}
#main-wrapper footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 225px;
}
