/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

.app-footer {
  // Positioning
  position: absolute;
  bottom: 0;
  left: 0;
  
  // Box-model
  width: 100%;
  height: $footerheight-xs;
  
  // Visual
  background-color: $lightgrey;
  
  // responsive
  @include respond-to(small) {
    height: $footerheight-sm;
  }
  @include respond-to(medium) {
    height: $footerheight-md;
  }
}
  
  .footer__nav {
    // Box-model
    margin-top: 8px;
    margin-bottom: 8px;
    
    // Typography
    text-align: center;
    
    // ul
    ul {
      // Box-model
      margin: 0;
      padding: 0;
      
      // Visual
      list-style: none;
    }
    
    // li
    .footer__nav__item {
      // Box-model
      margin-right: 8px;
      margin-left: 8px;
      
      // Responsive
      @include respond-to(medium) {
        display: inline-block;
      }
    }
  }
  
  .site-copyright {
    // Typography
    text-align: center;
  }