/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.app-header {
  // Box-model
  height: $header-xs;
  
  // Visual
  background-color: cp($primary, df);
  
  // Responsive
  @include respond-to(small) {
    height: $header-sm;
  }
}

  .header__wrapper {
    // Box-model
    margin-right: auto;
    margin-left: auto;
    max-width: map-get($breakpoints, large);
    height: 100%;
  }
  
    .header__logo {
      // Positioning
      float: left;
      
      // Box-model
      margin-left: $headermargin-xs;
      padding: $logopadding;
      width: $header-xs * 1.55 - $logopadding * 2;
      height: $header-xs;
      
      // Responsive
      @include respond-to(small) {
        // Box-model
        margin-left: $headermargin-sm;
        width: $header-sm * 1.55 - $logopadding * 2;
        height: $header-sm;
      }
    }
    
    .header__nav {
      // Positioning
      float: right;
      
      // Box-model
      margin-right: $headermargin-xs;
      
      // inner list
      ul {
        // Box-model
        margin: 0;
        padding: 0;
        
        // Visual
        list-style: none;
      }
      
      // Responsive
      @include respond-to(small) {
        margin-right: $headermargin-sm;
      }
    }
    
    .header__nav__item {
      // Box-model
      display: inline-block;
      margin-left: 16px;
      
      // inner link
      .link {
        // Box-model
        line-height: $header-xs;
        
        // Typography
        color: $white;
        
        // Responsive
        @include respond-to(small) {
          // Box-model
          line-height: $header-sm;
          
          // Typography
          font-size: fs(medium);
        }
      }
    }