/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.app-header {
  // Box-model
  height: $header-xs;
  
  // Visual
  background-color: cp($primary, df);
  
  // Responsive
  @include respond-to(medium) {
    height: $header-sm;
  }
}

  .header__wrapper {
    // Box-model
    display: flex;
    align-items: center;
    height: 100%;
    
    // menu button
    .menu-btn md-icon {
      color: white;
    }
    
    // Brand
    .header__logo {
      // Box-model
      margin-left: $headermargin-xs;
      padding: $logopadding;
      line-height: $header-xs;
      
      // Typography
      color: $white;
      font-size: fs(big);
      
      // Responsive
      @include respond-to(small) {
        margin-left: $headermargin-sm;
      }
      
      @include respond-to(medium) {
        line-height: $header-sm;
      }
    }
  }
  