/*------------------------------------*\
    $NEWS
\*------------------------------------*/

.news {
  // Box-model:
  padding: $gutterwidth;
  
  // Visual:
  background-color: $white;
  
  // news headings
  .news__heading {
    text-align: center;
  }
  
  // news paragraphs
  .news__text {
    text-align: justify;
  }
  
  // Responsive
  @include respond-to(small) {
    // Box-model
    display: inline-block;
    max-width: 50%;
  }
  
  @include respond-to(medium) {
    // Box-model
    display: inline-block;
    max-width: 33.3%;
  }
}