/*------------------------------------*\
    $SIDENAV
\*------------------------------------*/

app-sidenav {
  // Positioning
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  
  // Box-model
  display: flex;
  
  // Responsive
  @include respond-to(small) {
    position: static;
  }
}

.app-nav,
.app-nav.nav-closed {
  // Box-model
  overflow-y: auto;
  width: 0;
  
  // Visual
  background-color: $white;
}

.app-nav.nav-open {
  // Box-model
  width: $sidenavwidth-md;
}

@include respond-to(small) {
  .app-nav,
  .app-nav.nav-closed {
    width: $sidenavwidth-sm;
  }
  
  .app-nav.nav-open {
    width: $sidenavwidth-md;
  }
}
  
@include respond-to(medium) {
  .app-nav,
  .app-nav.nav-open {
    width: $sidenavwidth-md;
  }
  
  .app-nav.nav-closed {
    width: 0;
  }
}